<div id="sidebar" class="float_right">
	<div id="current_oben"></div>
	<div id="current_content">
		<%= image_tag @random_image, :size => "220x220" %>
		<div class="gallery"><a href="<%= images_path() %>">...go to Gallery</a></div>
	</div>
	<div id="current_unten"></div>
</div>

<h2>Registration</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>
  
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
