<div id="foto_stream">
<% @images.each do |image| %>
<div class="foto_stream_item">
	<div class="foto_avatar_col float_left">
		<% if showAvatar %>
		<a href="<%= profile_path() + "?id=" + image.user.id.to_s %>">
			<%= image_tag image.user.gravatar_url %>
        </a>
		<% end %>
	</div>
	<div class="foto_col float_right">
		<p><% if showAvatar %>by 
			<a href="<%= profile_path() + "?id=" + image.user.id.to_s %>">
				<%= image.user.name %>
	        </a>
			<% end %>
			<span class="float_right">Mission: "<%= image.mission.title %>"</span>
		</p>
		<a href="/images/upload/<%= image.nameHash %>_high.jpg" class="lightbox">
        	<%= image_tag "upload/" + image.nameHash + "_medium.jpg", :size => "300x200" %>
		</a>
		<% if user_signed_in? %>
		<div class="float_right">
			<%= image.pos %> <%= link_to image_tag("thump_up.png", :border=>0), :controller => "ratings", :action => "up", :image_id => image.id, :user_id => current_user.id %> 
			<%= image.neg %> <%= link_to image_tag("thump_down.png", :border=>0), :controller => "ratings", :action => "down", :image_id => image.id, :user_id => current_user.id %>
			<%= link_to image_tag("report.png", :border=>0), :controller => "reports", :action => "image", :image_id => image.id, :user_id => current_user.id %>
		</div>
		<% end %>
		<% image.comment.each do |comment| %>
		<div class="comment_item">
			<div class="comment_avatar_col float_left">
				<a href="<%= profile_path() + "?id=" + comment.user.id.to_s %>"><%= image_tag comment.user.gravatar_url, :size => "45x45" %></a>
			</div>
			<div class="comment_col float_right">
				<p>
                    <a href="<%= profile_path() + "?id=" + comment.user.id.to_s %>"><%= comment.user.name %></a> wrote:
					<% if user_signed_in? %>
					<span class="float_right"><%= link_to image_tag("report.png", :border=>0), :controller => "reports", :action => "comment", :comment_id => comment.id, :user_id => current_user.id %></span>
					<% end %>
                </p>
                <p>
                    <%= comment.body %>
                </p>
			</div>
			<div class="clr"></div>
		</div>
		<% end %>
		<div class="comment_new">
			
			<% if user_signed_in? %>
			<p>New Comment:</p>
                <% form_tag('/comments', :method => :post) do %>
                	<%= hidden_field_tag 'user_id', current_user.id %>
                	<%= hidden_field_tag 'image_id', image.id %>
                	<%= text_area_tag :body %>
                	<br/>
                	<%= submit_tag "Comment" %>
				<% end %>
        	<% end %>
		</div>
		
	</div>
	<div class="clr"></div>
</div>
<% end %>
</div>