<div id="foto_stream">
    <% @images.each do |image| %>
    <div class="foto_stream_item">
        <div class="foto_avatar_col float_left">
            <% if personalization %>
            <a href="<%= profile_path() + "?id=" + image.user.id.to_s %>"><%= image_tag image.user.gravatar_url, :size => "45x45"  %>
            </a>
            <% end %>
        </div>
        <div class="foto_col float_right">
            <p>
                <% if personalization %>by <a href="<%= profile_path() + "?id=" + image.user.id.to_s %>"><%= image.user.name %>
                </a>
                <% end %>
                <span class="float_right">Mission: "<%= image.mission.title %>"</span>
            </p>
            <%= link_to image_tag("upload/" + image.nameHash + "_medium.jpg"), "images/upload/" + image.nameHash + "_high.jpg", :class => "lightbox" %> 
            <div class="float_right">
                <%= render 'image_rating', { :image => image } %>
            </div>
            <div class="clr">
            </div>
            <% image.comment.each do |comment| %>
            	<%= render 'show_comment', {:comment => comment}%>
            <% end %>
            <%= render 'new_comment', {:image => image } %>
        </div>
        <div class="clr">
        </div>
    </div>
    <% end %>
</div>
