<div class="comment_item">
    <div class="comment_avatar_col float_left">
        <a href="<%= profile_path() + "?id=" + comment.user.id.to_s %>"><%= image_tag comment.user.gravatar_url, :size => "45x45" %></a>
    </div>
    <div class="comment_col float_right">
        <p>
            <a href="<%= profile_path() + "?id=" + comment.user.id.to_s %>"><%= comment.user.name %></a>
            wrote:
            <% if user_signed_in? %>
              <span class="float_right">
            	<%= link_to image_tag("report.png"), :controller => "reports", :action => "comment", :comment_id => comment.id, :user_id => current_user.id %>
              </span>
            <% end %>
        </p>
        <p>
            <%= comment.body %>
        </p>
    </div>
    <div class="clr">
    </div>
</div>
