<h1>Home</h1>

<% @images.each do |image| %>
	<div class="foto_feed_item">
		<div class="avatar_col">    	
			<a href="<%= home_path() %>">                           
    			<%= image_tag image.user.gravatar_url %>
			</a>
		</div>
		<div class="foto_col">
			<%= image.user.name %><br />
			<%= image_tag "upload/" + image.nameHash + "_medium.jpg", :size => "300x200" %>
			
			<div class="comment">
			<% image.comment.each do |comment| %>
				<div class="comment_avatar_col">
					<%= image_tag comment.user.gravatar_url, :size => "45x45" %>
				</div>
				<div class="comment_col">
					<p><%= comment.user.name %>: </p>
					<p><%= comment.body %></p>
			<% end %>
					<% if user_signed_in? %>
						<% form_tag('/comments', :method => :post) do %>
				  		<%= hidden_field_tag 'user_id', current_user.id %>
				  		<%= hidden_field_tag 'image_id', image.id %>
				  		<%= text_area_tag :body %><br />
				  		<%= submit_tag "Comment" %>
					<% end %>
			<% end %>
				</div>
				<div class="clr"></div>

			</div>
 
			
		</div>
		
	</div>
<% end %>