<h1><%= image_tag @user.gravatar_url %> Profile of <%= @user.name %></h1>

<br />
<h2>Pictures taken by <%= @user.name %>:</h2>

<%= render 'fotostream', { :showAvatar => false } %>

<%= render 'pagination', { :pagination_path => profile_path } %>