<div id="sidebar" class="float_right">
	<div id="current_oben"></div>
	<div id="current_content">
		<%= image_tag @random_image, :size => "220x220" %>
		<div class="gallery"><a href="<%= images_path() %>">...go to Gallery</a></div>
	</div>
	<div id="current_unten"></div>
</div>

<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>